@using BookStore.Model.Models
@using BookStore.UI.MVC.Models
@model HomeIndexVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_HomeSlider", Model.Campaigns)
<div class="container">
    <h2>Dynamic Tabs</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" style="color:black">Home</a></li>
        <li><a data-toggle="tab" href="#menu1" style="color:black">Menu 1</a></li>
        <li><a data-toggle="tab" href="#menu2" style="color:black">Menu 2</a></li>
        <li><a data-toggle="tab" href="#menu3" style="color:black">Menu 3</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane active">
            <h3 style="color:black">HOME</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>
<!--================ Start Blog Area =================-->
<section class="blog-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2><span style="text-transform:capitalize">Güncel Kampanyalar</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.Campaigns != null)
            {
                foreach (Campaign item in Model.Campaigns)
                {
                    <div class="col-lg-4 col-md-4">
                        <div class="single-blog">
                            <div class="thumb">
                                <img class="img-fluid" src="@item.ImagePath" alt="">
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>
<!--================ End Blog Area =================-->
<!--================ Inspired Product Area =================-->
<section class="inspired_product_area section_gap_bottom_custom">
    <div class="container" style="background-color:#f6f6f6;border-radius:10px">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <br />
                    <h2><span style="text-transform:capitalize">Haftanın Yayınevi : <a href="/PublishingHouse/Search/@Model.PublishingHouseOfTheWeek.ID" style="color:green">@Model.PublishingHouseOfTheWeek.CompanyName</a></span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            @*@for (int i = 0; i < 4; i++)
                {
                    <div class="col-lg-3 col-md-4">
                        <div class="single-product">
                            <div class="product-img">
                                <img class="img-fluid w-100" src="@Model.PublishingHouseOfTheWeekBooks[i].ImagePath" alt="" />
                                <div class="p_icon">
                                    <a href="/Book/Search/@Model.PublishingHouseOfTheWeekBooks[i].ID">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-btm">
                                <a href="#" class="d-block">
                                    <h4>@Model.PublishingHouseOfTheWeekBooks[i].Name</h4>
                                </a>
                                <div class="mt-3">
                                    <span class="mr-4">@Model.PublishingHouseOfTheWeekBooks[i].Price</span>
                                    <del>@Model.PublishingHouseOfTheWeekBooks[i].Price</del>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@

        </div>
    </div>
</section>
<!--================ End Inspired Product Area =================-->
