@using BookStore.Model.Models
@model Book
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Yeni Kitap</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        @Html.TextBoxFor(a => a.Name, new { @class = "form-control", placeholder = "Kitap İsmi" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(a => a.Price, new { type = "number", @class = "form-control", placeholder = "0.00" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(a => a.NumberOfPages, new { type = "number", @class = "form-control", placeholder = "Sayfa Sayısı" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(a => a.Price, new { type = "number", @class = "form-control", placeholder = "Adet" })
                    </div>
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Resim Yükle</label>
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(a => a.Description, new { @class = "form-control", placeholder = "Açıklama..." })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(a => a.YearOfPrinting, new { type = "date", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm">
                            <option>Yayınevi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm">
                            <option>Yazar</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm">
                            <option>Kategori</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm">
                            <option>Alt Kategori</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm">
                            <option>Dil</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end basic form  -->